*{
    margin: opx;
    padding: 0;
    box-sizing: border-box;

}

body{
font-family: "Roboto", sans-serif;
color: darkmagenta;
display: flex;
justify-content: center;
align-items: center;
height: 100ch;


}

.barra-horizontal{
    height: 5px;
    width: 65px;
    background-color: white;
    border: 3px;
}